@use '../styles';
$productWidth: 11rem;
$productSpacing: 2.34rem;
$totalMargin: 2 * styles.$bodyMargin - styles.$scrollBarWidth;// Account for left and right margins, and the width of the scrollbar
$serifFont: 'Roboto Slab', serif;

* {
  --light-gray: #E6E6E6;
  --medium-gray: #636363;
  --dark-gray: #424242;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

#content_panel {
  justify-content: left;
  display: grid;
  grid-column-gap: $productSpacing;
}

@for $i from 2 through 15 {
  @media screen
    and (max-width: $totalMargin + ($i * $productWidth) + (($i - 1) * $productSpacing))
    and (min-width: $totalMargin + (($i - 1) * $productWidth) + (($i - 2) * $productSpacing)){
    #content_panel {
      grid-template-columns: unquote("repeat(#{$i - 1}, #{$productWidth})");
    }
  }
}

#header {
  border-bottom: solid 1px var(--light-gray);
  padding-bottom: 1.5rem;
}
