.price-box {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  text-align: right;
  padding: 0.5em;
  margin-top: 0.5em;
  line-height: 1;
}

.msrp {
  font-size: 12px;
}

.price {
  font-size: 18px;
}

.manufacturer {
  font-size: 15px;
  font-weight: 500;
}
